appdirs==1.4.4
chainer==7.8.1
cloudpickle==2.2.1
setuptools
cycler==0.11.0
decorator==5.1.0
dill==0.3.6
distlib==0.3.6
filelock==3.13.0
importlib-metadata==6.0.0
importlib-resources==5.12.0
kiwisolver==1.4.4
matplotlib==3.6.3
networkx==3.1
nose==1.3.7
numpy==1.19.5
Pillow==9.5.0
protobuf==3.20.3
pyparsing==3.1.1
python-dateutil==2.8.2
pytz==2023.3
PyWavelets==1.4.1
scikit-image==0.17.2
scikit-learn==1.0.2
scipy==1.5.4
six==1.16.0
virtualenv==20.24.1
zipp==3.16.2
pandas==1.2.5
cupy-cuda102==7.8.0